datasets/my_CocoStuff164k_directory/train2017.zip
datasets/train2017.zip
datasets/stuffthingmaps_trainval2017.zip
datasets/val2017.zip
datasets/annotations/
datasets/images/

data/stage2_test_final.zip
